language: php
services: mongodb
php:
    - 5.5
    - 5.6

before_script:
    - echo "extension = mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
    - cp .env.travis .env
    - composer self-update
    - composer install
    - npm install
    - gulp
    - php artisan clear-compiled
    - php artisan optimize
    - php artisan serve &
    - php artisan migrate
    - php artisan db:seed
