//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "https://fonts.googleapis.com/css?family=Lato:300";
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: block;
    font-family: 'Lato';
    background-color: #f9f9f9;
}

.header {
    float: right;
    padding: 25px;
}

.header-item {
    padding-left: 10px;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;

}

.main {
    height:70%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
}

.content {
    text-align: center;
    display: inline-block;
}

.sub-content {
    margin-top: 20px;
}

.title {
    font-size: 96px;
    font-weight: bold;
    color: #212121;
}

.g-recaptcha {
    margin-top: 32px;
}

.g-recaptcha div div {
    margin-top: 10px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding-left: 0;
    color: #ef5350;
}

input[type=text] {
    margin-right: 14px;
    height: 21px;
    width: 200px;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    border-radius: 3px;
    padding-left: 7px;
    padding-right: 7px;
}

.error-list {
    color: #f44336;
}

a {
    color: #90caf9;
}

a, a:visited {
    text-decoration: none;
}

table {
    border: 1px solid black;
    padding: 20px;
}

table td {
    text-align: left;
    padding: 10px;
}

.truncate {
    max-width: 394px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.disabled {
    color: gray;
    cursor: default!important;
}

.paginate {
    display:inline;
}

.paginate ul li {
    padding: 6px;
    cursor: pointer;
    display: inline-block;
}
